<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dados Covid</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="container my-5 text-center">
            <h3>Resultado</h3>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Estado:</h5>
                        <p class="card-text"><%=covid.state%> - <%=covid.uf%></p>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card bg-primary">
                        <div class="card-body">
                            <h5 class="card-title">Confirmados:</h5>
                            <p class="card-text"><%=covid.cases%></p>
                        </div>
                    </div>
                    <div class="card bg-danger">
                        <div class="card-body">
                            <h5 class="card-title">Mortos:</h5>
                            <p class="card-text"><%=covid.deaths%></p>
                        </div>
                    </div>
                    <div class="card bg-warning">
                        <div class="card-body">
                            <h5 class="card-title">Ativos:</h5>
                            <p class="card-text"><%=covid.suspects%></p>
                        </div>
                    </div>
                    <div class="card bg-success">
                        <div class="card-body">
                            <h5 class="card-title">Recuperados:</h5>
                            <p class="card-text"><%=covid.refuses%></p>
                        </div>
                    </div>
                    

                </div>
        </div>
        <p class="text-right small">Data: <%=covid.datetime%> </p>
        <a href="/" class="btn btn-outline-dark">Nova busca</a>
    </div>
</body>
</html>
